.contact-container{
    margin: 4rem 0;
    display: flex;
    justify-content: space-around;
}

.email{
    display: flex;
    flex-direction: column;
    width: 70%;
}

.inpt{
    font-size: medium;
    background-color: white;
    color: black;
    padding: .3em;
    border: none;
    margin-bottom: .8rem;
}

.inpt:focus-visible{
    outline: 2px solid var(--color-highlight);
}

.inpt-email{
    width: 48%;
}

.emails{
    display: flex;
    justify-content: space-between;
}

.inpt:disabled{
    cursor: default;
}

.social{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.social a {
    display: flex;
    align-items: center;
}

.social img{
    width: 64px;
    margin-right: .3rem;
}

@media screen and (max-width:768px) {
    .contact-container{
        flex-direction: column;
    }
    .email{
        width: 100%;
    }
    .emails{
        flex-direction: column;
    }
    .inpt-email{
        width: 100%;
    }

    .social{
        margin-top: 2rem;
        flex-direction: row;
    }
}
