
header{
    display: flex;
    padding: 1rem;
    background-color:var(--lm-secundary-color);
    justify-content: space-between;
    padding: 20px 50px;
    max-height: 133px;
}

header h1{
    font-size: 1.8rem;
    color: var(--lm-principal-color);
    cursor: default;
}

#div-header{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

#nav-header{
    padding-top: 8px;
}

#div-header #nav-header ul li{
    display: inline;
    margin-left: 20px;
}

#nav-header a{
    color: var(--lm-principal-color);
    text-decoration: none;
    display: inline-block;
    position: relative;
}

#nav-header a:hover{
    color: white;
    transform: translate(-10px);
    transform: scale(1.3,1.3);
}

header button{
    background-color: var(--lm-principal-color);
    border: none;
    border-radius: 15px;
    padding: 10px;
    color: var(--lm-highlight-color);
    cursor: pointer;
    transition: transform 0.1s, box-shadow 0.1s;
}

header button:hover{
    box-shadow: 5px 3px #acaba8;
    transform: translate(-5px, -3px);
}

header button:active{
    box-shadow: none;
    transform: translate(+5px, +3px);
    transform: scale(1);
}

