header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

#container-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
}

#links-nav{
    display: flex;
    justify-content: space-between;
    width: 40rem;
}

#links-nav a{
    color: var(--color-ligth_blue);
}

#links-nav a:hover{
    color: var(--color-dark_pink);
}

#btn-header{
    transition: transform ease-in-out 250ms;
}

#btn-header:hover{
    transform: scale(1.3);
}