#skills{
    min-height: 544px;
}

.container-skills{
    margin: 4rem 0;
}

.container-skills ul{
    display: grid;
    padding: 0;
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
}


#tag-conatiner{
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;
}

#tag-conatiner button{
    margin-left: 1%;
}

#tag-conatiner button:nth-child(5n+1){
    margin-left: 0;
}

@media screen and (max-width: 768px) {
    .container-skills ul{
        grid-template-columns: repeat(3, 1fr);
        row-gap: .3rem;
        gap: .3rem;
    }
    .btn-tag{
        width: 60%;
        margin-bottom: 5px;
    }

    #tag-conatiner button{
        margin-left: 0%;
    }
    
    #tag-conatiner button:nth-child(5n+1){
        margin-left: 0;
    }

}

@media screen and (max-width:420px) {
    .btn-tag{
        width: 60%;
        margin-bottom: 5px;
    }

    .container-skills ul{
        grid-template-columns: repeat(2, 1fr);
        row-gap: .3rem;
        gap: .3rem;
    }
}