.btn{
    background-color: var(--color-highlight);
    color: var(--color-principal);
    padding: 1rem 1.5rem;
    border-color: transparent;
    border-radius: 1rem;
    font-family: var(--font-title);
    font-size: 1.2rem;
    cursor: pointer;
    transition: transform ease-in-out 300ms;
}

.btn-tag{
    background-color: var(--color-highlight);
    color: var(--color-principal);
    padding: 0.5rem 1rem;
    border-color: transparent;
    border-radius: 1rem;
    font-family: var(--font-title);
    cursor: pointer;
}

.btn:hover, .btn-tag:hover{
    background-color: var(--color-text);
}

.active{
    background-color: var(--color-text);
    cursor: default;
}