h1{
    font-size: 2.6rem;
    font-family: var(--font-title);
}

h2{
    font-size: 1.8rem;
    font-family: var(--font-title);
}

h3{
    font-size: 1.2rem;
    font-family: var(--font-title);
}

h4{
    font-size: 1rem;
    font-family: var(--font-title);
}

p{
    font-size: 1.3rem;
    letter-spacing: 0.02rem;
    font-family: var(--font-text);
}

a{
    font-family: var(--font-title);
}