@font-face {
    font-family: "Wigners";
    src: url("../../resources/font/Wigners-Friend.ttf");
}

@font-face {
    font-family: "Argentum";
    src: url("../../resources/font/ArgentumSans-Medium.ttf");
}

@font-face {
    font-family: "Salma";
    src: url("../../resources/font/Salma-pro.otf");
}

:root{
    --color-principal:#1C1B1D;
    --color-text:#A69E8F;
    --color-highlight:#A61C28;

    --font-logo: Wigners, serif;
    --font-title: Argentum, sans-serif;
    --font-text: Salma, sans-serif;
}