
@font-face {
    font-family: "Basement-Grotesque";
    src: url("/resources/font/BasementGrotesque-Black_v1.202.otf");
    font-weight: normal;
}

@font-face {
    font-family: "Argentum-Sans";
    src: url("/resources/font/ArgentumSans-Light.ttf");
}

:root{

    /* Ligth Mode */
    --lm-principal-color:#deddda;
    --lm-secundary-color:#1b1817;
    --lm-highlight-color: #c80039;

    /* Dark Mode*/
    --dm-principal-color:#1b1716;
    --dm-secundary-color:#fcf5e5;
    --dm-highlight-color: #29414d;

    /* Fonts */
    --titles-font: "Basement-Grotesque", sans-serif;
    --text-font: "Argentum-Sans", sans-serif;
}